::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
html, body, #app{
	height: 100%;
}
.fireworks{
	width: 100%;
	height: 100%; 
	position: absolute;
	left: 0;
	top: 0
}
#app{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}