doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/theme.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jquery.fileupload.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/socket.io/socket.io.js")
    script(src='js/jquery.min.js')
    script(src='js/webtorrent.min.js')
    script(src='js/jquery.ui.widget.js')
    script(src='js/jszip.min.js')
    script(src='js/fileSaver.js')
    script(src='js/StreamSaver.js')
    script(src='js/jquery.fileupload.js')
    script(src='js/main.js')
  body
    block content
    div(class= (isLogin? "mask hide": "mask show"))
    ul(class= (isLogin? "login-register-container hide": "login-register-container show"))
      li.log-reg-head
        p.login-head.active(data-target="login-form")="登录"
        p.register-head(data-target="register-form")="注册"
      li.log-reg-body
        form.login-form.active
          div.form-item
            input(name="username", type="text", placeholder="请输入用户名", required)
          div.form-item
            input(name="password", type="password", placeholder="请输入密码", required)
          div.form-item
            input#login(type="button", value="登录")
        form.register-form
          div.form-item
            input(name="username", type="text", placeholder="请输入用户名", required)
          div.form-item
            input(name="password", type="password", placeholder="请输入密码", required)
          div.form-item
            input#register(type="button", value="注册")

