:root{
	--color:rgba(46,50,56,.6);
	--color2:rgba(255,255,255,.6);
}
.left{
	background-color: var(--color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.right{
	background-color: var(--color2);
	border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.user-name{
	font-size: 16px;
	color: white;
}
.setting{
	color: white;
}
.search-input{
	background-color: var(--color2);
	color: white;
	font-size: 12px;
}
.chat-box-head, .non-chat-head{
	font-size: 14px;
	border-bottom: solid #a3a3a3 1px;
}
.chat-box-foot{
	border-top: solid #a3a3a3 1px;
}
.tip-message{
	font-size: 12px;
	margin-right: 6px;
	color: #666;
}
.send-message{
	font-size: 14px;
	background-color: white;
	border: 1px solid #c1c1c1;
}
.dropdown-menu.menu-group{
	background-color: white;
	border-radius: 4px;
}
.menu-item{
	border-bottom: solid 1px #f1f1f1;
	font-size: 14px;
}
.menu-item:last-child{
	border: none;
}
.emoji-container{
	background-color: white;
}
.emoji-face1-head, .emoji-face2-head{
	font-size: 14px;
}
.emoji-head{
	border-bottom: solid 1px #ccc;
}
.emoji-face1-head.active, .emoji-face2-head.active{
	border-bottom: solid 3px #42ac3e;
	color: #42ac3e;
}
a.face{
    font-size: 0;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
a.face:nth-child(15n){
	border-right: 0;	
}
.message{
	font-size: 14px;
}
.login-register-container{
	background-color: white;
	border-radius: 6px;
}
.log-reg-head{
	border-bottom: solid #ccc 1px;
}
.mask{
	background-color: rgba(0,0,0,.4);
}
.login-head.active, .register-head.active{
	border-bottom: solid 3px #42ac3e;
}
.form-item>[type="button"]{
	border: 0;
	color: white;
	background-color: #42ac3e;
}
.non-chat-message{
	color: #ccc;
}
.friend-item, .chat-item{
	background-color: rgba(0,0,0,.1);
	border-bottom: solid 1px #ccc;
	color: white;
}
.friend-item:last-child, .chat-item:last-child{
	border-bottom: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #ccc
}
.chat-item.active{
	background-color: rgba(255,255,255,.1);
}
.single-message pre{
	border-radius: 4px;
}
.left-message pre, .right-message pre{
	background-color: white;
}
.alert-message{
	background-color: white;
	color: red;
	border-radius: 4px;
}
.progress-bar, .progress-box{
	border-radius: 4px;
}
.progress-box{
	background-color: #ccc;
}
.progress-bar{
	background-color: #42ac3e;
}