html{
	height: 100%;
}
body {
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 1920px 1080px;
  background-attachment: fixed;
}
h1, h2, h3, h4, h5, p, ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.blur{
	filter: blur(5px);
}
.app{
	width: 1000px;
	height: 85%;
	min-height: 600px;
	overflow: hidden;
	position: relative;
}
.blur-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 1920px 1080px; 
	z-index: -1;
}
.left{
	float: left;
	width: 30%;
	height: 100%;
	overflow: hidden;
}
.right{
	float: right;
	width: 70%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.info-setting{
	position: relative;
	height: 82px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}
.user{
	display: flex;
	justify-content: flex-start;
}
.user-name{
	margin-left: 10px;
	line-height: 50px;
}
.user-avater{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.avater-img{
	width: 50px;
	height: 50px;
}
.setting{
	line-height: 50px;
}
.search{
	position: relative;
	height: 32px;
	padding: 0 16px;
}
.icon{
	background: url("../images/icon.png") no-repeat;
	display: inline-block;
	background-size: 487px 462px;
	-webkit-background-size: 487px 462px;
}
.setting-icon{
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-position: -434px -398px;
}
.search-icon{
	position: absolute;
	left: 16px;
	top: 1px;
	width: 30px;
	height: 30px;
	background-position: -60px -432px;
}
.search-input{
	border: 0;
	padding-left: 30px;
	outline: none;
	height: 32px;
	width: 100%;
	box-sizing: border-box;
}
.chats-icon{
	background-position: -150px -96px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.chats-icon.active{
	background-position: -185px -96px;
}
.friends-icon{
	background-position: -220px -96px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.friends-icon.active{
	background-position: -304px -246px;
}

.chat-box{
	height: 100%;
}
.chat-box-head, .non-chat-head{
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.chat-box-body{
	height: calc(100% - 232px);
}
.chat-box-foot{
	height: 180px;
}
.tool-bar{
	position: relative;
	height: 40px;
	padding-left: 10px;
}
.showEmoj{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-top: 5px;
	background-position: -404px -398px;
}
.sendFiles{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
	background-position: -120px -432px;
	cursor: pointer;
}
.p2pFiles{
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
	background-position: 0 -398px;
}
.content{
	height: 84px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.action{
	height: 30px;
	line-height: 30px;
}
.send-message{
	float: right;
}
.tip-message{
	float: right;
}
.message{
	height: 100%;
	width: 100%;
	white-space: pre-wrap;
	outline: none;
	word-wrap: break-word;
	overflow: auto;
}
.tab-head{
	display: flex;
	justify-content: space-around;
}
.tab-panel{
	margin-top: 10px;
	height: calc(100% - 124px);
	overflow: hidden;
}
.send-message{
	padding: 6px 30px;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}
.dropdown-menu.menu-group{
	position: absolute;
	width: 178px;
	right: 16px;
	top: 66px;
	display: none;
	z-index: 1;
}
.menu-item{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
.menu-item>.icon{
	width: 34px;
	height: 34px;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 10px;
	display: inline-block;
}
.logout{
    background-position: -102px -398px;
}
.user-profile{
	background-position: 2px -432px;
}
.system-setting{}
.about{}
.reward{}

.tab-body>li{
	display: none;
}
.tab-body>li.active{
	display: block;
}
.tab-body{
	overflow: auto;
	height: calc(100% - 39px);
}
.emoji-container{
	display: none;
	position: absolute;
	width: 476px;
	height: 200px;
	z-index: 1;
	top: -200px;
	left: 10px;
}
.emoji-head{
	height: 39px;
}
.emoji-face1-head, .emoji-face2-head{
	float: left;
	width: 120px;
	line-height: 37px;
	cursor: pointer;
	text-align: center;
}
.emoji-body{
	height: 160px;
}
.emoji-face1-body.active, .emoji-face2-body.active{
	display: block;
}
/*emoji face*/
img.face{
	float: left;
    text-indent: -999em;
    cursor: pointer;
    background-repeat: no-repeat;
}
img.qq-face{
	width: 28px;
    height: 28px;
}
img.tieba-face{
	margin: 1px;
	width: 26px;
    height: 26px;
}
.message img.face{
	width:20px;
	height: 20px;
}
.emoji-face1-body, .emoji-face2-body{
	overflow: hidden;
	display: none;
	padding: 20px;
}
/*emoji face*/

.login-register-container{
	box-sizing: border-box;
	padding: 20px;
	width: 400px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 40%;
	margin-left: -200px;
	margin-top: -150px;
	z-index: 100;
}
.log-reg-head{
	height: 40px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.form-item{
	height: 60px;
	margin-bottom: 10px;
}
.form-item>input{
	height: 42px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
}
.login-form, .register-form{
	display: none;
}
.login-form.active, .register-form.active{
	display: block;
}
.login-head, .register-head{
	cursor: pointer;
	text-align: center;
	padding: 0 30px;
	height: 39px;
	line-height: 39px;
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.form-item>[type="button"]{
	cursor: pointer;
}
.mask.hide, .login-register-container.hide{
	display: none;
}
.chat-box{
	display: none;
}
.non-chat-box{
	display: block;
}
.non-chat-img{
	width: 100px;
    height: 90px;
    background: url(../images/icon.png) no-repeat;
    background-position: -96px -150px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}
.non-chat-message{
	width: 100px;
	height: 110px;
	margin: auto;
	margin-top: 20%;
}
.friend-item{
	height: 50px;
	box-sizing: border-box;
	line-height: 30px;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	position: relative;
}
.friend-item>img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
::-webkit-scrollbar {
    margin-right: 3px;
    width: 6px;
    height: 4px
}

::-webkit-scrollbar-thumb {
    width: 6px;
}
.chat-item{
	height: 64px;
	cursor: pointer;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}
.chat-item>img{
	width: 40px;
	height: 40px;
}
.chat-item-info{
	height: 40px;
	width: 150px;
}
.chat-item-time{
	width: 70px;
	text-align: right;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
.chat-item-info>p{
	height: 20px;
	font-size: 14px;
}
.message img.message-face{
	float: none;
}
.single-message-avater{
	width: 40px;
	height: 40px;
}
.single-message{
	width: 100%;
	display: flex;
	margin: 20px 0;
}
.inner-message{
	width: 60%;
}
.right-message{
	justify-content: flex-end;
}
.left-message{
	justify-content: flex-start;
}
.right-message .single-message-info{
	text-align: right;
}
.left-message .single-message-info{
	text-align: left;
}
.single-message-info{
	width: calc(100% - 50px);
}
.right-message .single-message-info, .left-message .single-message-avater{
	float: left;
}
.left-message .single-message-info, .right-message .single-message-avater{
	float: right;
}
.single-message img.face{
	float: none;
}
.right-message .single-message-username, .right-message .single-message-time{
	float: right;
	margin-left: 10px;
}
.left-message .single-message-username, .left-message .single-message-time{
	float: left;
	margin-right: 10px;
}
.single-message-info p{
	font-size: 12px;
	overflow: hidden;
}
.single-message pre{
	white-space: pre-wrap;
	text-align: left!important;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	margin: 6px 0;
	padding: 4px 10px;
	word-wrap: break-word;
}
.chat-box-body-window{
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.chat-box-body-window.active{
	display: block;
}
.chat-item-message{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
}
.chat-item-message>img.face{
	height: 16px;
	width: 16px;
}
.alert-message{
	position: fixed;
	z-index: 1000;
	top: -1000px;
	left: 50%;
	width: 300px;
	height: 40px;
	margin-left: -150px;
	margin-top: -20px;
	text-align: center;
	line-height: 40px;
}
.p2p-files-input, .send-file-input{
	display: none;
}
.chat-item .p2p-preview-img{
	height: 20px;
	width: auto;
}
.p2p-preview-img{
	width: 100px;
	margin-right: 4px;
	height: auto;
}
.progress-bar, .progress-box{
	display: block;
	height: 4px;
}
.progress-box{
	position: relative;
	margin: 6px 0;
}
.progress-bar{
	width: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.message .progress-box{
	display: none;
}
.left-message .progress-box{
	display: none;
}
.friend-item[data-isOnline]::after{
	content: "在线";
}
.friend-item::after{
	content: "不在线";
	display: block;
	position: absolute;
	right: 10px;
	font-size: 12px;
}